<!DOCTYPE html>
<html lang="en">
    <body>
        {% include "header.html" %}
        {# Import Flask-Bootstrap macro for rapid form generation #}
        {% from 'bootstrap5/form.html' import render_form %}

        {# Contact Header #}
        <header class="masthead" style="background-image: url('../static/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">

                            {# Evaluates variables passed from the contact route to display status #}
                            {% if success == "success" %}
                                <h1>Successfully sent your message</h1>
                            {% elif success == "error" %}
                                <h1>Error</h1>
                                <span class="subheading">Something went wrong while sending. Please try again.</span>
                            {% else %}
                                <h1>Contact Me</h1>
                            {% endif %}

                            <span class="subheading">Have questions? I have answers.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {# Contact Form Section #}
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                        <div class="my-5">

                            {# Automatically generates the standard WTForm with Bootstrap styling #}
                            {{ render_form(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include "footer.html" %}
    </body>
</html>