{#
    Contact Page Template
    Provides a contact form for user communication.
    Uses bootstrap-flask render_form for secure, styled input handling.
#}
{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{# Dynamic background image path #}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/contact-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>

                {# Success/Error Messaging #}
                {% if success == "success" %}
                    <div class="alert alert-success">Message sent successfully!</div>
                {% elif success == "error" %}
                    <div class="alert alert-danger">Error sending message. Please try again.</div>
                {% endif %}

                <div class="my-5">
                    {# Corrected Bootstrap 5 form rendering #}
                    {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                </div>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}